body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: white;
}
.button {
  background-color: #4CAF50;
  width: 10%;
  color: orange;
  padding: 15px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}
form{
  border: 3px;

}
input[type=text],input[type=password]{
  width: 80%;
  margin: 8px 0;
  padding: 12px 20px;
  display: inline-block;
  border: 2px solid green;
  box-sizing: border-box;
}
button:hover{
  opacity:0.7;
}
.cancelbtn{
  width: auto;
  padding: 10px 18px;
  margin: 10px 5px;

}
.form{
  padding: 25px;
  background-color: #bdb8b8;
  width: 70%;
  margin-left: 15%;
  box-shadow: 4px 6px 4px 0 black;
}
.info{
  color: black;
  text-align: center;
}
.sidebar{
  position: fixed;
  height: 100%;
  width: 240px;
  background: #0A2558;
  transition: all 0.5s ease;
}
